<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>916512168802-s5gdvkqq3dvb93rn8b1rn5er609il92b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916512168802-s5gdvkqq3dvb93rn8b1rn5er609il92b</string>
	<key>API_KEY</key>
	<string>AIzaSyDhL4v__Rvjok4ykaJCU5RT5o3BAKKmEg8</string>
	<key>GCM_SENDER_ID</key>
	<string>916512168802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reiChurros.BAMatch</string>
	<key>PROJECT_ID</key>
	<string>ba-match-making</string>
	<key>STORAGE_BUCKET</key>
	<string>ba-match-making.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:916512168802:ios:ba76d66b21effa59</string>
	<key>DATABASE_URL</key>
	<string>https://ba-match-making.firebaseio.com</string>
</dict>
</plist>